<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="Keywords" content="免费ssh, free ssh, bluessh" />
        <meta name="Description" content="BlueSSH.com - 提供免费SSH，提供高速稳定、价格低廉的靠谱SSH和VPN；
            服务器均选自日本美国最优质服务商，高速稳定，在线率高达99.5%以上,性价比极高，欢迎选购！ "/>
        <meta name="baidu-site-verification" content="n5VCiAWxP8jdUn1I" />
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link media="all" rel="stylesheet" href="/static/css/base.css" type="text/css" />
        {% block arch_head %}
        {% endblock %}
        <title>
            {%block title %}
                高速稳定,自助购买,即时开通| BlueSSh
            {% endblock %}
        </title>
    </head>
    <body>
        {% block arch_body %}
        {% endblock %}
    </body>
</html>
